################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Restaurant-/v17/ipch/AutoPCH/82d538e77aa6a017/SCOOTER.ipch
/.vs/ProjectSettings.json
/.vs/Restaurant-/CopilotIndices/17.14.1593.33849/CodeChunks.db
/.vs/Restaurant-/CopilotIndices/17.14.1593.33849/CodeChunks.db-shm
/.vs/Restaurant-/CopilotIndices/17.14.1593.33849/CodeChunks.db-wal
/.vs/Restaurant-/CopilotIndices/17.14.1593.33849/SemanticSymbols.db
/.vs/Restaurant-/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-shm
/.vs/Restaurant-/CopilotIndices/17.14.1593.33849/SemanticSymbols.db-wal
/.vs/Restaurant-/FileContentIndex/15c6499d-736a-448d-8d3c-8e352e0443aa.vsidx
/.vs/Restaurant-/FileContentIndex/82ec2e73-e405-4459-9433-be0b18b07c36.vsidx
/.vs/Restaurant-/FileContentIndex/ff69b0fe-8bd9-4d2b-b709-1fe495337969.vsidx
/.vs/Restaurant-/v17/.wsuo
/.vs/Restaurant-/v17/Browse.VC.db
/.vs/Restaurant-/v17/Browse.VC.db-shm
/.vs/Restaurant-/v17/Browse.VC.db-wal
/.vs/Restaurant-/v17/Browse.VC.opendb
/.vs/Restaurant-/v17/DocumentLayout.backup.json
/.vs/Restaurant-/v17/DocumentLayout.json
/.vs/Restaurant-/v17/ipch/AutoPCH/1f5f25aa6f93446e/CHEF.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/2f454fe766bf9e1d/VCTMP10248_519873.ORDER.D8501064.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/5e557d5e749f2e81/ORDER.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/7c4b4bc7f9de6f70/ORDER.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/93664b742c50c842/VCTMP10248_19952.ORDER.5D7472C6.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/98b704efd756864a/VCTMP10248_341208.ORDER.D8501064.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/98e5c6b3dca6cf5/VCTMP10248_636372.ORDER.5D7472C6.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/b6da8487d874c99d/VCTMP10248_571822.ORDER.5D7472C6.ipch
/.vs/Restaurant-/v17/ipch/AutoPCH/edc486652fe3e2cc/VCTMP10248_412166.ORDER.D8501064.ipch
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/Restaurant-/FileContentIndex/4bbaaf9d-eb3f-4f4a-b798-df43f4885e6f.vsidx
/.vs/Restaurant-/FileContentIndex/c855ad61-5ad9-4450-a463-dee528578a3c.vsidx
/.vs/Restaurant-/FileContentIndex/0871a60e-d419-4ff5-a703-6ddfb757ef79.vsidx
/.vs/Restaurant-/FileContentIndex/e6a941a4-df88-42c1-951e-7ab05a6d0ffe.vsidx
/.vs/Restaurant-/FileContentIndex/683adce5-3907-4704-a70a-2cbb2284ad19.vsidx
/.vs/Restaurant-/FileContentIndex/ae2ae97e-7987-460a-bc88-43c7b42c1c1a.vsidx
*.vsidx
*.ipch
/.vs/project/v17
